
# --- Segredos / Ambiente ---
.env
*.pem
*.key

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/
env/

# --- Jupyter ---
.ipynb_checkpoints/
*.ipynb_meta

# --- Airflow (logs e DBs locais) ---
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py
airflow/standalone_admin_password.txt

# --- Docker volumes locais ---
postgres_data/

# --- Dados brutos (arquivos grandes) ---
data/raw/
*.parquet
*.dbc
*.csv

# --- IDEs ---
.vscode/
.idea/
*.swp
